#form {
   display: table;
}

#row {
   display: table-row;
}

#form label,
#form .cell {
   display        : table-cell;
   padding-right  : 20px;
   text-align     : right;
   vertical-align : top;
   font-weight    : bold;
}

section {
   margin-top  : 2ex;
   margin-left : 4ex;
}

input,
textarea {
   width         : 400px;
   margin-bottom : 20px;
}

#form button {
   margin-right: 1.5ex;
}